<!DOCTYPE html>
<html lang="en">
<head>
    <title>Heatmap</title>
     <!-- Required meta tags -->
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <center>
    <h2>Heatmap Correlation</h2>
    <img src="../heatmap.png" style="height:450px">
    <br><br>
    <a href="http://localhost:5000/">
        <button>BACK TO HOMEPAGE</button>
    </a>
    </center>
</body>
</html>